QMainWindow {
    background-color: #1E293B;
}

#NavBar {
    background-color: #062E1E;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

#NavLogo {
    color: #F8FAFC;
    font-size: 18px;
    font-weight: bold;
}

QPushButton {
    background-color: transparent;
    color: #F8FAFC;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
}

QPushButton:hover {
    background-color: #334155;
}
#BottomBar {
    background-color: #0e5436;
}
#SloganText{
    font-size: 20px;
    color : #b7ccc7;
}