QMainWindow {
    background-color: #b7ccc7;
}
#NavBar {
    background-color: #0e5436;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#NavLogo {
    color: #F8FAFC;
    font-size: 18px;
    font-weight: bold;
}
QPushButton {
    background-color: transparent;
    color: #F8FAFC;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 6px;
}
QPushButton:hover {
    background-color: #b7ccc7;
}
#BottomBar {
    background-color: #b7ccc7;
}
#SloganText {
    font-size: 20px;
    color : #0e5436;
}
QPushButton::menu-indicator {
    image: none;
    width: 0px;
}
/* Card Container */
#RegisterCard {
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}

#FormTitle {
    font-size: 22px;
    font-weight: bold;
    color: #0e5436;
}

#FormSubtitle {
    font-size: 13px;
    color: #64748B;
}

/* Form Inputs */
QLineEdit {
    background-color: #F8FAFC;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    padding: 10px 14px;
    font-size: 14px;
    color: #1E293B;
}

QLineEdit:focus {
    border: 2px solid #0e5436;
    background-color: #FFFFFF;
}

/* Primary Action Button */
#PrimaryBtn {
    background-color: #0e5436;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px;
    border: none;
}

#PrimaryBtn:hover {
    background-color: #126843;
}

/* Secondary / Back Link */
#SecondaryBtn {
    background-color: transparent;
    color: #64748B;
    border: none;
    font-size: 13px;
}

#SecondaryBtn:hover {
    color: #0e5436;
}
/* Styling for field labels */
#FieldLabel {
    font-size: 12px;
    font-weight: bold;
    color: #475569;
    margin-top: 2px;
}

/* Styling Date Picker and ComboBox inputs */
QDateEdit, QComboBox {
    background-color: #F8FAFC;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
    color: #1E293B;
}

QDateEdit:focus, QComboBox:focus {
    border: 2px solid #0e5436;
    background-color: #FFFFFF;
}

/* Dropdown arrow styling for QComboBox */
QComboBox::drop-down {
    border: none;
    padding-right: 10px;
}

QComboBox QAbstractItemView {
    background-color: #FFFFFF;
    border: 1px solid #CBD5E1;
    selection-background-color: #0e5436;
    selection-color: #FFFFFF;
}
/* Style for inline QLineEdit actions (like password view eye icon) */
QLineEdit QToolButton {
    border: none;
    background: transparent;
    padding: 0px 4px;
    color: #64748B;
}

QLineEdit QToolButton:hover {
    color: #0e5436;
}